<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your details</title>

    <link rel="stylesheet" href="../Css/userredirect.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</head>

<body>
    <div class="container-fluid mt-5">
        <br>
        <h1>Account Created Succesfully !!</h1>
        <br>
        <div class="table">
            <table>
                <tr>
                    <td>Your Account no.</td>
                    <td><%= info._id %></td>
                </tr>
                <tr>
                    <td>Name </td>
                    <td><%=info.name%></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td> <%= info.email%></td>
                </tr>
                <tr>
                    <td>Balance</td>
                    <td><%= info.balance %></td>
                </tr>
            </table>
        </div>
        <span>Please make sure to note your account number created</span>
        <br>
        <br>
        <form action="/" method="get" id="form">
            <button type="submit">Continue</button>
        </form>
    </div>
</body>

</html>